In [40]:
import pandas as pd
import numpy as np
from pandas.tseries.offsets import *

from scipy import stats
import datetime as dt

import matplotlib.pyplot as plt
import statsmodels.api as sm

import pickle

In [41]:
# Loading stocks
y_pred = pickle.load(open('rf_predict.pkl', 'rb' ))

In [42]:
y_pred.shape

(270000,)

In [43]:
# Importing y
y = pd.read_csv('y_reg.csv')
y['date'] =  pd.to_datetime(y['date'])
y = y.set_index(['date'])
y_test = y[y.index > '1975-12-01']
y_test = y_test.values.ravel()

In [44]:
# Testing R2
r2_df = pd.DataFrame()
r2_df['y'] = y_test
r2_df['y_hat'] = y_pred
r2_df['difference'] = (r2_df['y']-r2_df['y_hat'])
r2_df['y_2'] = r2_df['y']**2
r2_df['dif2'] = r2_df['difference']**2
y_2 = r2_df['y_2'].sum() 
dif2 = r2_df['dif2'].sum()
print(1 - (dif2 / y_2))

0.006810558037537384

In [45]:
len(y_pred)//540

500

In [46]:
y_pred.shape, y_test.shape

((270000,), (270000,))

In [48]:
spear = []
for i in range(len(y_pred)//500):       
    spear.append(stats.spearmanr(y_pred[i*500:(i+1)*500], y_test[i*500:(i+1)*500])[0])
spear

[0.15612952316111467,
 0.0343830528074932,
 -0.01871437728875601,
 -0.08492143331278248,
 -0.08211869878406963,
 0.042434788660929194,
 -0.22941859307298995,
 -0.22269399011073826,
 -0.12497823467189043,
 -0.1471459976602807,
 -0.0042143733078716826,
 0.16002220113995963,
 -0.07156904672813746,
 0.01695381996641927,
 0.12478887323945895,
 0.012293248881414273,
 -0.12803766717382728,
 0.1593326945939534,
 -0.15940397500805137,
 -0.021916429097073746,
 -0.025299600789382624,
 -0.1378950796436596,
 0.2906835109883697,
 0.004140603490125168,
 -0.16050060471291916,
 -0.08077321518736554,
 0.199076674206991,
 0.30121996086216646,
 0.2038199092338744,
 -0.07455158556235775,
 0.2957802663254758,
 0.09452771841112001,
 -0.21180121982582606,
 -0.4727580129569642,
 0.1542746442493618,
 0.18407762978688189,
 -0.04388951440052289,
 -0.17123960909178837,
 0.42456285036656827,
 0.08494564132891597,
 -0.18388842624638443,
 0.14124164780922527,
 0.0169090974939045,
 0.23905728188574157,
 0.25141280510993413,
 -0.07689980603339658,
 0.36372900419420257,
 0.29699317062492,
 0.35329124151869795,
 0.2909847498098999,
 -0.5546198605622411,
 -0.1276295337792622,
 0.06534818358015407,
 0.1516023128088142,
 0.29250051276943634,
 0.22118829096676,
 0.3372417880474556,
 0.16621989576483068,
 0.4021823459578228,
 -0.3715224039857124,
 -0.42756338076030254,
 -0.10902491716750118,
 0.039056438276801934,
 -0.14309869744751977,
 -0.003289742895955867,
 -0.2966536857960538,
 0.13342492782489662,
 -0.2595438102090764,
 -0.2904709598102841,
 0.21993400881011965,
 -0.16408125554734693,
 -0.11579743819586812,
 -0.3125392178571528,
 -0.354935978406383,
 -0.20197425563662838,
 0.14284222500802168,
 -0.12134386309251856,
 -0.11100981833386216,
 -0.14704206853900337,
 0.012763063340643015,
 -0.039404462879520825,
 0.1210161616148261,
 0.0875177060878226,
 -0.04662172383310144,
 0.0641198313653309,
 0.09981453147063345,
 -0.027843281943891886,
 0.12857019324324137,
 0.2319832590182117,
 0.1759402585682051,
 -0.2695258140463715,
 -0.1228805654518299,
 -0.2908544640167653,
 -0.46338654343155933,
 0.3176166763611462,
 0.11040250627008764,
 -0.18708793558139217,
 -0.14558847614237214,
 0.14590786696523503,
 -0.029641101403836474,
 -0.29592472861194047,
 -0.035838320287942566,
 -0.12245321542067077,
 0.13578038014212657,
 -0.17883555635824108,
 -0.10267994093898482,
 -0.211515429549454,
 0.03286463649483234,
 0.31162011820068114,
 -0.1273102271972747,
 -0.2938433675383758,
 -0.09744297382998293,
 0.018315780252589293,
 -0.007868344726555407,
 0.17774748955204756,
 -0.24681778433360615,
 -0.1592344589998175,
 -0.063468083691148,
 0.11250382411740818,
 -0.08826757146507566,
 0.007887214503028159,
 -0.03489941171590213,
 -0.0794061721166594,
 0.023941971616096673,
 -0.01799597292143543,
 -0.1892316959670731,
 -0.3704840758671899,
 -0.10896733201497982,
 -0.07929312168174835,
 0.0720376445708686,
 -0.013675090843477532,
 -0.05783949740920781,
 0.156359740491652,
 0.23110807344482848,
 0.08127625794544825,
 0.1092803956716863,
 0.07557977296795526,
 -0.19259685305718993,
 0.1985614909554112,
 -0.04535780953026539,
 0.06289806926104384,
 -0.4751097213231957,
 -0.13400425091537008,
 0.29842579611841985,
 -0.3468501127010705,
 0.3449130996738548,
 0.038029725584765944,
 0.08576930074585393,
 -0.26843263045853494,
 0.1658435466433019,
 -0.15812797374601587,
 -0.2518387456498776,
 -0.0687409577609445,
 -0.061937215431539114,
 -0.08651095824624791,
 0.12094493525179519,
 0.11832638125406963,
 0.04534357049465659,
 -0.05643072619592371,
 0.018747886186685943,
 0.04552313382339816,
 -0.18394014721851534,
 0.1467945579777055,
 0.16243867071052578,
 -0.07780535542306534,
 -0.2495928976488356,
 -0.06356504718864794,
 -0.21084301002785635,
 -0.19736844378965118,
 0.18013624858282046,
 0.14427458850136196,
 0.1030408328397244,
 0.20270631893460264,
 -0.04379138150641546,
 -0.1127177079670175,
 -0.18356453365212355,
 -0.25622957417908204,
 -0.14336794799923486,
 0.1902334166074575,
 0.0882190402898434,
 0.35093090953639133,
 0.17039166380165946,
 0.12778759777883944,
 0.034996783964839795,
 0.2568385331641322,
 -0.2782810497040719,
 0.13087176426488673,
 0.003594860159976325,
 -0.10568433703678318,
 0.07134662970038473,
 -0.23440807837822875,
 0.3169633039588108,
 0.28653907552765395,
 0.20823606268773356,
 -0.17083370763796138,
 -0.15223262726328693,
 -0.09428461844022283,
 -0.17756956029630833,
 -0.05857009495205282,
 -0.25639593014489104,
 0.10232776385255775,
 0.21853837966821668,
 0.2532765749595521,
 -0.04412516620290096,
 0.11239671821547915,
 -0.23081171657704566,
 0.10586881906565793,
 -0.061346283743542944,
 0.25364128425820703,
 -0.027786078540209577,
 0.0009649053711756656,
 0.12698757805794145,
 0.1355533922887669,
 0.0871746477615775,
 0.07651120520336822,
 0.10782030391764987,
 0.16428136305751315,
 0.12655325140591203,
 -0.09746417043266209,
 -0.16960128934819124,
 0.03431547797640547,
 -0.1260613255442562,
 -0.07911393582395945,
 0.24011685274244451,
 0.09337338539708086,
 0.04306467082357302,
 -0.08946387559895778,
 -0.004119913675312287,
 -0.19983835898537103,
 0.09728343249939145,
 0.1373508222779266,
 0.0665169218880417,
 -0.13759889821934168,
 0.20035573568453002,
 0.16303929463698869,
 0.01869208852664065,
 -0.07393580031698717,
 -0.20219147434379828,
 0.010187482598410121,
 -0.31121599375463704,
 -0.011378395906278567,
 0.2368448033974618,
 0.03375718212816352,
 0.20523243709257016,
 0.028500585615717524,
 -0.2990040865949243,
 -0.1745814609852221,
 0.2406658563220957,
 0.09015349123290724,
 -0.19371372157441383,
 0.06775158352709419,
 -0.03383591369152712,
 0.10760690745964491,
 -0.1675855343789641,
 0.032589980527996276,
 0.0354195256313463,
 0.16978079669272594,
 -0.04910597081620664,
 0.33705562884786344,
 0.05707397684254182,
 -0.005422055249772936,
 -0.13822240733235885,
 -0.1714837785131675,
 -0.20737696425537705,
 0.051747274456811716,
 0.20322689582416997,
 0.04306102954530067,
 0.13134550090492628,
 -0.14858683444209508,
 0.256930692047539,
 0.12733939043494136,
 -0.3571651635242217,
 0.02144938278544558,
 0.1287330727241664,
 0.17788768336057584,
 0.34780438460675933,
 0.3294765559624196,
 -0.12415091227759999,
 0.2660085103392681,
 -0.08030252226447658,
 -0.10459426747969519,
 0.3529590833726231,
 0.0049387894145909075,
 0.06713301314763151,
 0.14061270855618335,
 0.10333034083616306,
 0.41128356422497414,
 0.4324963116620644,
 0.025385365461695935,
 0.5042882903881986,
 -0.21963057414909956,
 -0.349395278252351,
 -0.40014978948184193,
 0.3775598722839259,
 -0.20188059693408747,
 0.25808188292240636,
 -0.19120212988523633,
 -0.30735182379528925,
 -0.4747416010238282,
 -0.10629462205741216,
 0.07311473478024838,
 -0.3545968274079577,
 -0.1924545664371754,
 0.16301119995706867,
 -0.0465994559897588,
 0.16344004152784952,
 -0.12039202334691064,
 -0.22679665695910717,
 -0.30055474543229566,
 0.26494481321395613,
 0.29667388893590274,
 -0.07866123419641563,
 -0.041984523968610174,
 -0.28681638391631536,
 0.16236002933675808,
 -0.23627311278633578,
 -0.06519022684199684,
 -0.2935075222068113,
 -0.2691572947671585,
 -0.1616138130000348,
 -0.04676870580951687,
 0.18390554058696335,
 0.34842722896919986,
 -0.3541489630937289,
 0.05475056420035236,
 0.05662021183973246,
 -0.05783856107112257,
 0.1450775772014806,
 0.2715950431115268,
 0.13975190273448765,
 0.07826963064795109,
 0.22062587704036501,
 -0.1215649099727422,
 0.16898915346161103,
 -0.029502396318703432,
 -0.06292580705070307,
 0.01576324697180573,
 -0.21769536728527877,
 -0.12360408930587272,
 -0.19488521769955597,
 0.0998262607841416,
 0.09349156469765169,
 -0.2590169035824548,
 -0.28021956922989527,
 0.23744034055563518,
 0.02878024795607389,
 0.19205149196624005,
 -0.11748590797619797,
 -0.08986718319367122,
 0.20051671281412128,
 -0.08399924409286838,
 -0.28398539851214216,
 0.3259563651697733,
 0.14692343895538268,
 0.20120555408515284,
 0.064261371841398,
 0.19721850380699182,
 -0.08705516839932179,
 0.09942290085005252,
 0.08847478688630755,
 0.27223558041349205,
 -0.24849968709860534,
 0.1340770230115286,
 -0.07146919160568004,
 -0.3403949394440219,
 -0.0576276098733188,
 -0.3167617682630524,
 -0.05856084495133161,
 -0.011093374237183899,
 0.13752277129327137,
 0.18648258783267999,
 -0.24168151633034904,
 0.1507706171633631,
 -0.06047871462379348,
 0.013918957688821502,
 0.05788753100033769,
 0.1502283994451808,
 0.03902278469517197,
 0.03304787532984285,
 -0.11451190849620865,
 0.09130009406841458,
 0.11941197544088931,
 -0.2554308566358141,
 0.18218129895930477,
 -0.24698709344220895,
 0.18956478100689914,
 -0.10488623509674935,
 0.3056465725928444,
 0.1958844202389071,
 0.16568054267483695,
 -0.35177182662750084,
 -0.2319719421570753,
 -0.41766822296135736,
 -0.1991237276107885,
 -0.17419602968764278,
 -0.07993233123958103,
 0.003175596778601438,
 0.08230354304116798,
 0.1202068501371871,
 0.18948432358016568,
 0.030711773058339904,
 -0.15412972791713878,
 0.17692725792532352,
 0.19048930138987688,
 0.1396839522599616,
 -0.2516821459587451,
 -0.019248970562323744,
 0.1309628458854349,
 -0.23914473937643327,
 0.22684842837841765,
 0.40079756214542395,
 0.205490598301643,
 -0.31640262832814436,
 -0.4483942496594906,
 0.2919284607829576,
 -0.3283421124101412,
 0.29513617046064117,
 0.09357966751553087,
 0.15245586836653552,
 0.12139810741953895,
 0.06698717711798097,
 -0.00848576499793594,
 0.0038262394886174494,
 -0.18612408443497325,
 -0.2634173509574698,
 -0.0994795766437136,
 -0.007595457116193518,
 -0.4588708087799692,
 -0.42284676490210793,
 0.445234490479883,
 -0.14096389121944028,
 -0.29369021800369827,
 0.27531239337211005,
 0.2247497101507852,
 -0.08823252563558634,
 -0.1126007710466278,
 -0.4258934893315653,
 -0.13161337678666,
 -0.0859214992389074,
 0.2891575471849692,
 0.10011440854001766,
 -0.07839467759261513,
 0.07594155337974091,
 0.4212704388496277,
 0.15062443679191254,
 -0.23591236322551015,
 -0.07126335451401467,
 -0.1577508347237512,
 0.37479811660295836,
 -0.2514034494665395,
 0.2272391293088741,
 0.1997168852131849,
 0.14675474158530777,
 -0.0877583485202001,
 0.06307911934427518,
 0.1372516793590405,
 -0.038155882455012224,
 0.14685261750832146,
 -0.18538200022300916,
 -0.1989051251679469,
 0.1109500438001752,
 0.18415578714158276,
 0.07626755490064094,
 0.05244659882126883,
 -0.13447135765901194,
 -0.12608087447914515,
 0.09151717924719123,
 -0.16077896255063134,
 0.10122243546577304,
 -0.003323389612603868,
 0.07923896456279884,
 -0.14181950548902672,
 0.08087730727345097,
 0.09280271166537692,
 -0.03601219464165668,
 -0.009833176748684459,
 -0.09672427953988358,
 -0.01261042056023293,
 -0.021705306467717417,
 -0.1262618680777572,
 -0.2221001683918863,
 -0.12930008830355535,
 -0.005428630105381803,
 0.08638532983431099,
 0.016337921743797102,
 -0.14126947124928693,
 0.11626074262348626,
 0.017235191008987003,
 0.2878700089333184,
 -0.10657051651283575,
 0.1523106828309271,
 -0.1806865814381502,
 0.14098746671726545,
 -0.15533860628573712,
 -0.05994128902824908,
 -0.055689461479149806,
 -0.1892500093360411,
 0.11224076136972504,
 0.08580966141694152,
 -0.0992229269000692,
 0.2745585937708154,
 -0.004728355367343607,
 -0.043660786834582924,
 0.10877382153757313,
 0.24124071307084802,
 0.07874486187821662,
 -0.06263123253752877,
 -0.016819415314321105,
 0.20651066491142755,
 -0.007179965236818463,
 -0.13413145818329777,
 0.1947638217526141,
 0.01538679828575946,
 -0.2580999247884958,
 -0.2563590721993793,
 -0.18439572685940026,
 0.18023765760203816,
 -0.037456859221225,
 0.08205624797979304,
 -0.2286768616839364,
 -0.14896308300256017,
 0.16579387909172952,
 -0.019986322823321988,
 -0.15201244664298216,
 -0.15657807758593234,
 0.094319764134605,
 0.1977201190031487,
 -0.03388400101004666,
 -0.18642449082562051,
 -0.014397133389377106,
 -0.1731259003791681,
 0.3016319506412759,
 0.16536511280448904,
 0.291793206273136,
 -0.06655311407623375,
 0.07686786376457377,
 -0.13181972338870113,
 0.07210556280545302,
 0.28326450583161444,
 0.2516421528444948]

In [49]:
np.mean(spear),np.std(spear,ddof=1)

(0.0006993396865526645, 0.19126976670851922)

In [50]:
stats.ttest_1samp(spear, 0.0)

Ttest_1sampResult(statistic=0.08496473873431286, pvalue=0.9323209726693938)

In [51]:
# Loading stock universe
universe_test = pd.read_csv('universe_test.csv')

In [52]:
# Insert predictions
universe_test.insert(1, "y_hat", y_pred*100)

In [53]:
y_rank = universe_test.copy()

In [54]:
y_rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270000 entries, 0 to 269999
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    270000 non-null  object
 1   y_hat   270000 non-null  float64
 2   permno  270000 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.2+ MB

In [55]:
y_rank

              date     y_hat  permno
0       1976-01-01  0.894265   10137
1       1976-01-01  0.873039   10145
2       1976-01-01  0.876159   10161
3       1976-01-01  0.860705   10225
4       1976-01-01  0.905740   10233
...            ...       ...     ...
269995  2020-12-01  0.815737   93096
269996  2020-12-01  0.850236   93132
269997  2020-12-01  0.864399   93246
269998  2020-12-01  0.851359   93312
269999  2020-12-01  0.905465   93436

[270000 rows x 3 columns]

In [56]:
y_rank['y_hat'].nunique()

241340

In [57]:
y_rank.shape

(270000, 3)

In [58]:
# For each date, ranking stocks into 1-10 portfolios based on cumret
# 1 = loser, 10 = winner portfolio 

y_rank = y_rank.groupby('date').apply(lambda x: x.sort_values(['y_hat'], ascending = False)).reset_index(drop=True)
y_rank['rank'] = y_rank.groupby('date')['y_hat'].transform(lambda x: pd.qcut(x, 10, labels=False))

# For visualization: Shift momr from 0-9 to 1-10 
y_rank['rank']=1+y_rank['rank']

In [59]:
# Average cumulative return for each portfolio
y_rank.groupby('rank')['y_hat'].mean()

rank
1.0     0.825018
2.0     0.830935
3.0     0.836620
4.0     0.842721
5.0     0.848671
6.0     0.854005
7.0     0.858888
8.0     0.864021
9.0     0.870870
10.0    0.885994
Name: y_hat, dtype: float64

### 2. Merging daily data with RF rank

In [60]:
# Loading daily returns
d_ret1 = pd.read_csv('daily_1931.csv')
d_ret1['daily_date'] = pd.to_datetime(d_ret1.daily_date)

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [61]:
d_ret1

          permno daily_date siccd dlret        ret date_merge
0          10000 1986-01-07  3990   NaN          C    1986/01
1          10000 1986-01-08  3990   NaN  -0.024390    1986/01
2          10000 1986-01-09  3990   NaN   0.000000    1986/01
3          10000 1986-01-10  3990   NaN   0.000000    1986/01
4          10000 1986-01-13  3990   NaN   0.050000    1986/01
...          ...        ...   ...   ...        ...        ...
75696491   93436 2020-12-24  9999   NaN   0.024444    2020/12
75696492   93436 2020-12-28  9999   NaN   0.002901    2020/12
75696493   93436 2020-12-29  9999   NaN   0.003465    2020/12
75696494   93436 2020-12-30  9999   NaN   0.043229    2020/12
75696495   93436 2020-12-31  9999     A   0.015674    2020/12

[75696496 rows x 6 columns]

In [62]:
# Preparing date colmn in "universe" for merge

#Rename date column to merge
y_rank.rename(columns={'date':'monthly_date'}, inplace=True)

#Make datatime format
y_rank['monthly_date'] = pd.to_datetime(y_rank.monthly_date)

# Create date for merging
y_rank['date_merge'] = y_rank['monthly_date']
y_rank['date_merge'] = y_rank['date_merge'].dt.strftime("%Y/%m")

In [63]:
# Merge on monthly date
daily = pd.merge(d_ret1, y_rank, on=['date_merge', 'permno'], how='left')

In [64]:
# Looking at daily data
daily.head()

,permno,daily_date,siccd,dlret,ret,date_merge,monthly_date,y_hat,rank
0,10000,1986-01-07,3990,NaN,C,1986/01,NaT,NaN,NaN
1,10000,1986-01-08,3990,NaN,-0.024390,1986/01,NaT,NaN,NaN
2,10000,1986-01-09,3990,NaN,0.000000,1986/01,NaT,NaN,NaN
3,10000,1986-01-10,3990,NaN,0.000000,1986/01,NaT,NaN,NaN
4,10000,1986-01-13,3990,NaN,0.050000,1986/01,NaT,NaN,NaN

In [65]:
# Filter on non-nans
daily_filtered = daily[daily['rank'].notna()]

In [66]:
# Ensure returns are number format
daily_filtered['ret'] = daily_filtered['ret'].astype(float)

<ipython-input-66-17e3c4f42f4c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  daily_filtered['ret'] = daily_filtered['ret'].astype(float)

In [67]:
# Creating dateframe for portfolio calculation
port_d_return = pd.DataFrame(daily_filtered[['daily_date', 'ret', 'rank']])

In [68]:
# Calculating mean (portfolio return), for a given date, rank
port_d_return = port_d_return.groupby(['daily_date','rank'])['ret'].mean().reset_index()
port_d_return_t = port_d_return.copy()

In [69]:
# Check portfolio return
port_d_return_t.groupby('rank')['ret'].describe()[['count','mean','std']].reset_index()

   rank    count      mean       std
0   1.0  11350.0  0.000526  0.008651
1   2.0  11350.0  0.000526  0.009192
2   3.0  11350.0  0.000556  0.009749
3   4.0  11350.0  0.000534  0.010122
4   5.0  11350.0  0.000569  0.010946
5   6.0  11350.0  0.000502  0.011630
6   7.0  11350.0  0.000537  0.012528
7   8.0  11350.0  0.000546  0.013255
8   9.0  11350.0  0.000629  0.014421
9  10.0  11350.0  0.000732  0.016805

In [70]:
# Transpose portfolio layout to have columns as portfolio returns
port_d_return_t = port_d_return.pivot(index='daily_date', columns='rank', values='ret')

# Add prefix port in front of each column
port_d_return_t = port_d_return_t.add_prefix('P')

In [71]:
port_d_return_t.head()

rank,P1.0,P2.0,P3.0,P4.0,P5.0,P6.0,P7.0,P8.0,P9.0,P10.0
daily_date,,,,,,,,,,
1976-01-02,0.009194,0.008036,0.008553,0.012283,0.006042,0.005962,0.006258,0.004939,0.009485,0.006791
1976-01-05,0.015757,0.019665,0.017873,0.020653,0.016106,0.017970,0.014935,0.016929,0.022320,0.015016
1976-01-06,0.010377,0.008208,0.017792,0.011970,0.012410,0.012107,0.016315,0.019384,0.018626,0.015234
1976-01-07,0.005772,0.006967,0.009959,0.004195,0.007162,0.002493,0.011734,0.007262,0.005204,0.017368
1976-01-08,0.005214,0.005818,0.011990,0.007059,0.002315,0.008296,0.003843,0.013522,0.008590,0.007570

In [72]:
# Creating long-short portfolio
port_d_return_t = port_d_return_t.rename(columns={'P1.0':'losers', 'P10.0':'winners'})
port_d_return_t['long_short'] = port_d_return_t.winners - port_d_return_t.losers

In [73]:
port_d_return_t

rank,losers,P2.0,P3.0,P4.0,P5.0,P6.0,P7.0,P8.0,P9.0,winners,long_short
daily_date,,,,,,,,,,,
1976-01-02,0.009194,0.008036,0.008553,0.012283,0.006042,0.005962,0.006258,0.004939,0.009485,0.006791,-0.002403
1976-01-05,0.015757,0.019665,0.017873,0.020653,0.016106,0.017970,0.014935,0.016929,0.022320,0.015016,-0.000741
1976-01-06,0.010377,0.008208,0.017792,0.011970,0.012410,0.012107,0.016315,0.019384,0.018626,0.015234,0.004857
1976-01-07,0.005772,0.006967,0.009959,0.004195,0.007162,0.002493,0.011734,0.007262,0.005204,0.017368,0.011597
1976-01-08,0.005214,0.005818,0.011990,0.007059,0.002315,0.008296,0.003843,0.013522,0.008590,0.007570,0.002356
...,...,...,...,...,...,...,...,...,...,...,...
2020-12-24,0.005833,0.006209,0.005116,0.003318,0.000159,-0.000155,0.000023,0.000372,0.000522,-0.004479,-0.010312
2020-12-28,0.006089,0.004279,0.003899,0.000508,0.004322,0.000634,-0.000922,-0.007501,-0.007460,-0.022898,-0.028987
2020-12-29,-0.002321,0.000350,-0.004070,-0.003975,-0.002354,-0.004957,-0.006822,-0.006263,-0.006034,-0.009826,-0.007505
2020-12-30,0.001585,0.002230,0.001904,0.003837,0.005165,0.003976,0.007589,0.006491,0.008334,0.015346,0.013761
2020-12-31,0.009475,0.012362,0.011456,0.006779,0.008286,0.007090,0.005105,0.004376,0.002051,-0.008063,-0.017539

In [74]:
# Ensuring no NAN-values
port_d_return_t['long_short'].isnull().sum()

3

In [75]:
# OBS FILLING WITH NA - should not be necessary with new file
port_d_return_t['long_short'] = port_d_return_t['long_short'].fillna(0)
port_d_return_t['long_short'].isnull().sum()

0

In [76]:
# Defining long_short return
long_short_ret = port_d_return_t['long_short']
long_short_ret

daily_date
1976-01-02   -0.002403
1976-01-05   -0.000741
1976-01-06    0.004857
1976-01-07    0.011597
1976-01-08    0.002356
                ...
2020-12-24   -0.010312
2020-12-28   -0.028987
2020-12-29   -0.007505
2020-12-30    0.013761
2020-12-31   -0.017539
Name: long_short, Length: 11353, dtype: float64

In [77]:
# Dropping NA values
long_short_ret = long_short_ret[long_short_ret.index != '1985-09-27']
long_short_ret = long_short_ret[long_short_ret.index != '2012-10-29']
long_short_ret = long_short_ret[long_short_ret.index != '2017-09-30']

In [78]:
# Save to CSV
long_short_ret.to_csv('rf_results.csv', index=True)

In [79]:
long_short_ret

daily_date
1976-01-02   -0.002403
1976-01-05   -0.000741
1976-01-06    0.004857
1976-01-07    0.011597
1976-01-08    0.002356
                ...
2020-12-24   -0.010312
2020-12-28   -0.028987
2020-12-29   -0.007505
2020-12-30    0.013761
2020-12-31   -0.017539
Name: long_short, Length: 11350, dtype: float64